[submodule "scenario_runner"]
	path = scenario_runner
	url = https://github.com/tlandle/scenario_runner.git
[submodule "sort"]
	path = sort
	url = https://github.com/ICGog/sort.git
[submodule "waymo-open-dataset"]
	path = waymo-open-dataset
	url = https://github.com/waymo-research/waymo-open-dataset
[submodule "ecav/BM2CP"]
	path = ecav/BM2CP
	url = https://github.com/tlandle/BM2CP.git
